img.narrow {
  max-width: 100%;
  height: 11px;
}

.ProductDeatilWrapPC .Inner .ProductImageWrap {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
  overflow: hidden;
  position: relative;
  max-width: 910px;
  margin-top: 2rem;
}
